body {
  margin: 0 auto;
  padding: 0;
  background-color: #282c34;
  min-height: 100vh;
}

// Font
@font-face {
  font-family: 'Roboto';
  src: url('assets/Roboto/Roboto-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Roboto-Bold';
  src: url('assets/Roboto/Roboto-Bold.ttf') format('truetype');
}

// Variables
$bg-secondary: #1f242f;

// UTILITY CLASSES
.text-link {
  color: #61dafb;
}

.bg-primary {
  background-color: #4b637e !important;
}

.btn-secondary {
  background-color: $bg-secondary;
  border: $bg-secondary;
}

.form-control {
  font-size: 12px;
}

// APP STYLES
.App {
  width: 100%;
  height: auto;
  padding-top: 5rem;
  overflow-x: hidden;

  .main-header {
    width: 100%;
    height: 5rem;
    position: fixed;
    top: 0;
    z-index: 100;
    background-color: $bg-secondary;
    box-shadow: 0 2px 2px 0 rgba(10,10,10,.14),0 3px 1px -2px rgba(10,10,10,.12),0 1px 5px 0 rgba(10,10,10,.2);
    font-family: Roboto;

    .brand img {
      width: 100px;
      height: 50px;
    }

    .menu {
      a {
        font-weight: 600!important;
      }

      .btn {
        box-shadow: 0 2px 2px 0 rgba(10,10,10,.14), 0 3px 1px -2px rgba(10,10,10,.12), 0 1px 5px 0 rgba(10,10,10,.2);
        border-radius: 20px!important;
        background-color: #1f242f;
        border-color: #1f242f;
      }
    }
  }

  .hero {
    .search {
      h2 {
        font-size: 52px;
        font-family: "Bebas Neue",sans-serif;
      }

      .btn {
        height: 2.5rem;
      }
  
      #search-input {
        width: 100%;
        height: 100%;
        height: 2.5rem;
      }
    }

    .hero-img img {
      width: 100%;
      height: auto;
    }

    @media only screen and (max-width: 980px) { 
      .hero-img {
        display: none;
      }
    }
  }

  .filter {
    @media only screen and (min-width: 981px) { 
      .mobile-toggle {
        display: none;
      }

      .content {
        display: block;
        margin-left: -5%;
      }
    }

    @media only screen and (max-width: 980px) { 
      .mobile-toggle {
        display: block;
        box-shadow: 0 3px 3px 0 rgba(0,0,0,.14), 0 1px 7px 0 rgba(0,0,0,.12), 0 3px 1px -1px rgba(0,0,0,.2);
      }

      .content {
        display: none;
        margin-bottom: 2rem;
      }
    }

    .content {
      min-height: 50rem;
      background-color: $bg-secondary;
      box-shadow: 0 2px 2px 0 rgba(10,10,10,.14), 0 3px 1px -2px rgba(10,10,10,.12), 0 1px 5px 0 rgba(10,10,10,.2);
      position: sticky;
      top: 50px;

      .btn {
        font-size: 12px;
      }

      .heading {
        color: white;
      }

      label {
        color: #ffffff;
        font-size: 14px;
      }
    }
  }

  .products {
    .paging-btns {
      .btn {
        background: transparent;
        color: white;
        border-radius: 50px;
        font-size: 0.875rem;

        &.active {
          background-color: rgba(63,81,181,.3)!important;
          border: 1px solid hsla(0,0%,100%,.3)!important;
        }
      }
    }
  }

  .product {
    background-color: $bg-secondary;

    .badge {
      background: transparent;
      border: 1px solid rgba(222, 222, 222, 0.6);
      color: rgb(222, 222, 222);
    }

    img {
      height: 125px;
    }

    .name {
      font-size: 14px;
    }

    .capacity {
      font-size: 0.85rem;
    }

    .price h4 {
      font-size: 18px;
      font-weight: bold;
    }
  }
}
